body {
	background: url("../images/test.jpg"); 
	background-size: 100%;  
}
	<!-- za vryshtane edna direktoriq  nazad // za vsichki elementi v bodito se otnasq shrifta, ako po-nadolu ima drug shrift faila se overrid-va , -->
	font: bold 20px Verdana;
	color: green;
	#title {
		opacity: 0.7;
	}
  h1  {
  	color:purple
  }
  h2 {
  	border-color: rgb();
  	font-family: calibri;
  }

  p    {
  	color:yellow
  }
